utils/testPower.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="power">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="now" type="xs:decimal"/>
      <xs:element name="max" type="xs:decimal"/>
      <xs:element name="min" type="xs:decimal"/>
      <xs:element name="minavg" type="xs:decimal"/>
      <xs:element name="houravg" type="xs:decimal"/>
      <xs:element name="dayavg" type="xs:decimal"/>
      <xs:element name="monthavg" type="xs:decimal"/>
      <xs:element name="yearavg" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>
</xs:schema>
